@font-face {
   font-family: 'Epilogue';
   src: 
      url('../font/Epilogue-Medium.woff2') format('woff2'),
      url('../font/Epilogue-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Epilogue';
   src: 
      url('../font/Epilogue-Bold.woff2') format('woff2'),
      url('../font/Epilogue-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

:root {
   --color-almost-white: hsl(0, 0%, 98%);
   --color-medium-gray: hsl(0, 0%, 41%);
   --color-almost-black: hsl(0, 0%, 8%);

   --font-default: 'Epilogue', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   min-height: 100vh;
   font-family: var(--font-default);
   font-weight: 500;
   font-size: 1.125rem; /* 18px */
}

h1, h2, h3 {
   margin: 0;
   line-height: 1;
   /* margin-bottom: 4.25rem; 68px */
   color: var(--color-almost-black);
}

p {
   margin: 0;
   line-height: 1.5;
   color: var(--color-medium-gray)
}

a {
   text-decoration: none;
}

ol, ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

picture, img {
   width: 100%;
}



.container {
   max-width: 71.75rem; /* 1148px */
   margin-inline: auto;
}

.intro {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 1.75rem;
   padding-top: 3.125rem; /* 50px */
}

.intro__text {
   flex: 4;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
}

.intro__client {
   /* margin-top: 6.25rem; 100px */
   display: flex;
   font-display: row;
   gap: 1.75rem;
   margin-top: 6rem;
}

.intro__image {
   flex: 3;
}

.intro h1 {
   font-size: 5rem;
   max-width: 540px;
   margin-top: 6rem;
   margin-bottom: 3rem;
}

.intro p {
   /* margin-bottom: 3.25rem; 52px */
   margin-bottom: 3rem;
   max-width: 436px;
   
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 1.875rem 2.5rem;
   align-items: center;
}

.header__left {
   display: flex;
   flex-direction: row;
   gap: 3.75rem;
   align-items: center;
}

.header__brand {
   font-size: 2rem;
   font-weight: 700;
   color: var(--color-almost-black);
}

.header__nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2.375rem;
   white-space: nowrap;
}

.header__nav li a {
   color: var(--color-medium-gray);
   white-space: nowrap;
}

.header__nav li:focus, li:hover > a {
   color: var(--color-almost-black);
   transition: color;
   transition-duration: 300ms;
}

.header__right {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

.header__right > a {
   padding: 1rem 1.875rem;
   color: var(--color-medium-gray); 
}

.header__right > a:hover, a:focus {
   color: var(--color-almost-black);
   transition: color;
   transition-duration: 300ms;
}

.header__right > a:nth-child(2) {
   border: 1px solid var(--color-medium-gray);
   border-radius: 0.875rem;
}

.header__right > a:nth-child(2):hover, a:nth-child(2):focus  {
   border: 1px solid var(--color-almost-black);
   transition: color;
   transition-duration: 300ms;
}

.dropdown {
   position: relative;
   color: var(--color-medium-gray);
   /* display: block; */
   padding: 1rem 1rem;
}

.dropdown::after {
   content: url('../image/icon-arrow-up.svg');
   margin-left: 0.25rem;
}

.dropdown:hover::after, .dropdown:focus::after{
   content: url('../image/icon-arrow-down.svg');
   color: var(--color-almost-black);
}

.dropdown-content {
   position: absolute;
   z-index: 100;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
   background: var(--color-almost-white);
   padding: 0.5rem;
   border-radius: 0.5rem;
   /* display: flex; */
   display: none;
   /* flex-shrink: 0;
   flex-grow: 1;
   flex-wrap: nowrap;
   flex-direction: column; */
   margin-top: 1rem;
   padding: 1.25rem;
}

.dropdown:hover > .dropdown-content {
   display: block;
}

.dropdown-content > li:not(:last-child) {
   margin-bottom: 1.25rem ;
}

.dropdown-content > li > img {
   width: 0.875rem;
   margin-right: 0.875rem;
}

.btn {
   font-weight: 700;
   padding: 1rem 1.875rem;
   border-radius: 0.875rem;
   color: var(--color-almost-white);
   background: var(--color-almost-black);
}

.header__nav-mobile {
   display: none;
}

@media (max-width: 1180px) {
   .intro {
      margin-inline: 1rem;
   }
}

@media (max-width: 1080px) {
   .intro h1 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
   }

   .intro p {
      margin-bottom: 1.5rem;
   }

   .intro__client {
      margin-top: 3rem;
   }
}

@media (max-width: 980px) {
   .header__right {
      display: none;
   }

   .header__nav {
      display: none;
   }

   .header__nav-mobile {
      display: inline-block   ;
   }
}

@media (max-width: 800px) {
   .intro h1 {
      font-size: 2rem;
   }
}
 
@media (max-width: 540px) {
   .intro {
      flex-direction: column;
   }

   .intro__text {
      order: 2;
      align-items: center;
   }

   .intro__image {
      order: 1;
   }

   .intro h1 {
      text-align: center;
      margin-inline: 1rem;
   }

   .intro p {
      text-align: center;
      margin-inline: 1rem;
   }
}


